@use "./mixins.scss" as *;
@import "./reset.scss";
@import "./base.scss";
@import "./colors.scss";

a {
  text-decoration: none;
}

.container {
  padding-inline: 16px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 32px;

  @include on-tablet {
    padding-inline: 24px;
    grid-template-columns: repeat(6, 1fr);
  }

  @include on-desktop {
    padding-inline: 72px;
    margin-inline: auto;
    min-width: 1200px;
    max-width: 1440px;

    grid-template-columns: repeat(12, 1fr);
  }
}

.main {
  margin-block: 28px;

  @include on-tablet {
    margin-block: 56px 48px;
  }
}

.icon {
  width: 18px;
  height: 18px;

  @include on-tablet {
    width: 24px;
    height: 24px;
  }
}
