@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin show-transition() {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }

  &-enter,
  &-leave-to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@mixin hover-change-bg($color: var(--c-soft-accent-bg-hover)) {
  & {
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #{$color};
    }
  }
}
